 * {
     margin: 0; /*Метод отвечает за внешний отступ обьекта
                Мы его обнулили*/
     padding: 0; /*Метод отвечает за внутренний отступ*/
 }

body {
    background-color: red;
}

p {
   border: 3px solid;/*Cоздали рамку,задает толщину,я сделал ее сплошной*/
   border-radius: 27px;/*С

    font-size: 80px;/*Увеличивает размер текста*/
    margin: 100px;/*Мы добавили внешний отступ*/
    padding: 50px;/*Мы добавили внутренний отступ*/
    background-color: black;/*Задает цвет заднему фону страницы*/
    color:darkred;
    text-align: center;/*Задают ориентацию текста*/
}

p:hover{
    scale: 1.2;
}

h1{
   margin: 50px; /*Метод отвечает за внешний отступ обьекта
   Мы его обнулили*/
   padding: 20px; /*Метод отвечает за внутренний отступ*/
    text-align:center ;/*Задает ориентацию текста*/

}